{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ article.note }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>{{ article.editor }}</td>
            </tr>
            <tr>
                <th>Studio_development</th>
                <td>{{ article.studioDevelopment }}</td>
            </tr>
            <tr>
                <th>Link_page</th>
                <td>{{ article.linkPage }}</td>
            </tr>
            <tr>
                <th>Release_date</th>
                <td>{{ article.releaseDate ? article.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_creation_article</th>
                <td>{{ article.dateCreationArticle ? article.dateCreationArticle|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
